# Cluster parameters
workersNumber: 2 # @schema description: The number of the worker machines; minimum: 1; type: integer; required: true

clusterNetwork: # @schema description: The cluster network configuration; type: object
  pods: # @schema description: The network ranges from which Pod networks are allocated; type: object
    cidrBlocks: # @schema description: A list of CIDR blocks; type: array; item: string
      - "10.244.0.0/16"
  services: # @schema description: The network ranges from which service VIPs are allocated; type: object
    cidrBlocks: # @schema description: A list of CIDR blocks; type: array; item: string
      - "10.96.0.0/12"

clusterLabels: {} # @schema description: Labels to apply to the cluster; type: object; additionalProperties: true
clusterAnnotations: {} # @schema description: Annotations to apply to the cluster; type: object; additionalProperties: true

auth: # @schema description: Authentication settings for the cluster, optional, auto-populated; type: object
  configSecret: # @schema description: Reference to the Secret containing the cluster's AuthenticationConfiguration, auto-populated; type: object
    name: "" # @schema description: Name of the Secret that stores the AuthenticationConfiguration, auto-populated; type: string
    key: "config" # @schema description: The data key in the Secret that contains the AuthenticationConfiguration, auto-populated; type: string
    hash: "" # @schema description: Hash of the AuthenticationConfiguration data stored in the Secret, auto-populated; type: string

# DS/CDS kine params
dataSource: # @schema description: Kine data source parameters, auto-populated, optional, auto-populated; type: object
  kineDataSourceSecretName: "" # @schema description: Name of the Secret that stores the data source connection URL, auto-populated; type: string
  caSecret: # @schema description: Reference to the Secret containing the certificate authority to connect to the data source, auto-populated; type: object
    name: "" # @schema description: Name of the Secret that stores the certificate authority to connect to the data source, auto-populated; type: string
    key: "ca.crt" # @schema description: The data key in the Secret that contains the certificate authority to connect to the data source, auto-populated; type: string

# Hetzner cluster parameters
region: "" # @schema description: The Hetzner region name (e.g., fsn1, nbg1, hel1); type: string; required: true
sshKeyNames: [] # @schema description: SSH key names to use for cluster nodes; type: array; item: string
tokenRef: # @schema description: Reference to the secret containing Hetzner API token; type: object
  name: "" # @schema description: Name of the secret; type: string; required: true
  key: "hcloud-token" # @schema description: Key in the secret containing the token; type: string; required: true
placementGroupName: "" # @schema description: Name of the placement group to use for nodes; type: string
labels: {} # @schema description: Labels to apply to Hetzner resources; type: object; additionalProperties: true

# Hetzner worker machines parameters
worker: # @schema description: The configuration of the worker machines; type: object
  image: ubuntu-22.04 # @schema description: The name of the Hetzner server image; type: string; required: true
  type: cpx11 # @schema description: The type of Hetzner server to create (e.g., cx21, cpx21, cx31); type: string; required: true
  placementGroupName: "" # @schema description: The placement group name for worker nodes; type: string
  dataDisks: [] # @schema description: Additional data disks to attach; type: array; item: object
  additionalSecurityGroups: [] # @schema description: Additional security groups to attach; type: array; item: object

# K0smotron parameters
k0smotron: # @schema description: K0smotron parameters; type: object
  controlPlaneNumber: 3 # @schema description: The number of control plane replicas; minimum: 1; type: integer; default: 3
  controllerPlaneFlags: [] # @schema description: ControlPlaneFlags allows to configure additional flags for k0s control plane and to override existing ones. The default flags are kept unless they are overriden explicitly. Flags with arguments must be specified as a single string, e.g. --some-flag=argument; type: array; item: string; uniqueItems: true
  service: # @schema description: The API service configuration; type: object
    type: LoadBalancer # @schema description: An ingress methods for a service; type: string; enum: ClusterIP, NodePort, LoadBalancer; default: LoadBalancer
    apiPort: 6443 # @schema description: The kubernetes API port. If empty k0smotron will pick it automatically; type: number; minimum: 1; maximum: 65535
    konnectivityPort: 8132 # @schema description: The konnectivity port. If empty k0smotron will pick it automatically; type: number; minimum: 1; maximum: 65535

# K0s parameters
k0s: # @schema description: K0s parameters; type: object
  version: v1.32.6+k0s.0 # @schema description: K0s version; type: string; required: true
  arch: amd64 # @schema description: K0s Download URL Arch; type: string; enum: amd64, arm64, arm; default: amd64
  workerArgs: [] # @schema description: Args specifies extra arguments to be passed to k0s worker. See: https://docs.k0sproject.io/stable/worker-node-config/ See: https://docs.k0sproject.io/stable/cli/k0s_worker/; type: array; item: string; uniqueItems: true
  api: # @schema description: Kubernetes API server parameters; type: object
    extraArgs: {} # @schema description: Map of key-values (strings) for any extra arguments to pass down to Kubernetes api-server process; type: object; additionalProperties: true
  network: # @schema description: Kubernetes cluster network configuration; type: object; additionalProperties: true
    provider: calico # @schema description: Network provider to use; type: string; examples: [kuberouter, calico, custom]; minLength: 1
    calico: # @schema description: Calico-specific configuration; type: object; additionalProperties: true
      mode: vxlan # @schema description: Calico network mode; type: string; examples: [ipip, vxlan, never]; minLength: 1
